<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <auditSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
  <!-- AutoMapper GHSA-rvv3-g6hj-g44x: falso positivo en GitHub Advisory DB, afecta todas las versiones publicadas -->
  <config>
    <add key="NuGetAuditSuppress" value="https://github.com/advisories/GHSA-rvv3-g6hj-g44x" />
  </config>
</configuration>
